blinker
click
colorama
flask
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
pandas
python-dateutil
pytz
regex
scikit-learn
scipy
six
sklearn
threadpoolctl
tqdm
tzdata
werkzeug
zipp
